/* AdminLayout.module.css */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #fff;
}
